/degiskenler/nbproject/private/
/degiskenler/build/
/InputandOutput/nbproject/private/
/inputoutput/nbproject/private/
/inputoutput/build/
/basitislemler/nbproject/private/
/basitislemler/build/
/logicoperations/nbproject/private/
/logicoperations/build/
/FirstCase/nbproject/private/
/FirstCase/build/
/Employee/nbproject/private/
/FirstCase/dist/
